body {
    font-family: 'BIZ UDPGothic', sans-serif;
}

/* メインレイアウトサイドバー高さ調整 */
.full-height-drawer {
    position: fixed;
    top: var(--mud-appbar-height);
    height: calc(100vh - var(--mud-appbar-height));
}

.break-text {
    white-space: normal;
    word-break: break-word; /* または break-all や anywhere に調整可能 */
}


/*
    ============ ダイアログのlook & feel ===================
*/
.blur {
    backdrop-filter: blur(10px);
}

.dialog-background {
    background-color: transparent;
}

.dialog-background-title {
    background: rgb(from var(--mud-palette-info-lighten) r g b / 30%);
    color: var(--mud-palette-white);
}

.dialog-background-surface {
    background: rgb(from var(--mud-palette-surface) r g b / 75%);
}


/* 大きな画面では最小幅を決める */
@media (min-width: 768px) {
    .responsive-dialog {
        min-width: 400px;
    }
}


