body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

/* メインレイアウトサイドバー高さ調整 */
.full-height-drawer {
    position: fixed;
    top: var(--mud-appbar-height);
    height: calc(100vh - var(--mud-appbar-height));
}
