body {
    font-family: 'BIZ UDPGothic', sans-serif;
}

/* メインレイアウトサイドバー高さ調整 */
.full-height-drawer {
    position: fixed;
    top: var(--mud-appbar-height);
    height: calc(100vh - var(--mud-appbar-height));
}

.break-text {
    white-space: normal;
    word-break: break-word; /* または break-all や anywhere に調整可能 */
}

.mud-button-label {
    white-space: nowrap;
}

.mud-card-header {
    padding: 8px 16px;
}

