<div class="pdf-preview">
    <object data="@Src" type="application/pdf"
            style="width:100%; height:@Height" aria-label="PDF preview">
        <div class="p-2">
            <MudText Typo="Typo.body1">PDF プレビューに対応していません。</MudText>
            <MudLink Href="@Src" Target="_blank">PDFを開く / ダウンロード</MudLink>
        </div>
    </object>
</div>

@code {
    [Parameter] public string Src { get; set; } = default!;
    [Parameter] public string Height { get; set; } = "70vh";
}